{% load static %}

<!-- <br>
<br>
<br>
<br>
{% for msg in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
 <strong>Success!</strong>  {{ msg }}
 <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %} -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="clearfix">

    <div class="container" data-aos="fade-up">

      <div class="hero-img" data-aos="zoom-out" data-aos-delay="200">
        <img src="{% static 'assets/img/hero-img.svg' %}" alt="" class="img-fluid">
      </div>

      <div class="hero-info" data-aos="zoom-in" data-aos-delay="100">
        <h3 style="color:#ffff">We provide a <br><span>platform</span><br>for student to give Feedback about Lecturers!</h3>
        <div>
          <a href="{% url 'review' %}" class="btn-get-started scrollto">Get Started</a>
          <a href="{% url 'createAccount' %} " class="btn-services scrollto">Sign UP</a>
        </div>
      </div>

    </div>
  </section><!-- End Hero Section -->

  <main id="main">
   
    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h3>WELCOME TO MUCG TEACHER'S RATING SYSTEM
          </h3>
        <p>we provide a medium where students can provide feedback on lecturer's teaching in other to impact on the student in more efficient way.</p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
            <p>
    
            </p>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <div class="icon"><i class="bi bi-card-checklist"></i></div>
              <h4 class="title"><a href="{% url 'review' %}">Teacher's rating </a></h4>
              <p class="description">Teacher rating is one of the topics that has been widely studied over the years, which needs relevant attention by our educational administrative institutions.</p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bi bi-brightness-high"></i></div>
              <h4 class="title"><a href="{% url 'review' %}">Students Feedback</a></h4>
              <p class="description">Students can give feedback as easy and stressfree as possible. This encourages both the lecturers and students to enhance Teaching and Learning. </p>
            </div>

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bi bi-calendar4-week"></i></div>
              <h4 class="title"><a href="{% url 'review' %}">Improves Productivity</a></h4>
              <p class="description">This system also improve the productivity of the student and the lecturers by regular feedback, which gives the lecturer dynamic style of engaging and giving the students the best information.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2" data-aos="zoom-in">
            <img src="{% static 'assets/img/about-img.svg' %}" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6" data-aos="fade-right">
            <img src="{% static 'assets/img/about-extra-1.svg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-5 pt-lg-0" data-aos="fade-left">
            <h4>MAIN OBJECTIVE.</h4>
            <p>
                  The main goal of this project is to create a web-based system for teacher rating  by students. The scope enwraps the activities involved in the assessment scheme which will involve only students registered in methodist university ghana to be able to assess there lecturers.
            </p>
            <p>
                  The students rating will provide assessment that teachers can use to make positive changes in their service. The assessment information provided by the students can identify strength and weaknesses recognized by the students in a specific circumstances.
            </p>
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left">
            <img src="{% static 'assets/img/about-extra-2.svg' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-right">
            <h4>SIGNIFICANCE.</h4>
            <p>
               The Project is to create a web-based applicaiton for students rating of teacher effectiveness system.  
            </p>
            <p>
              This provides a basic student rating system capable of allowing various class students to rate his or her teacher and these rating are then complied and analyzed by various administrative body. It also helps in proper storage and maintenance of Student documentation.
            </p>
            <p>
              Futhermore, it aids structured document representation and eliminates the tedious of performing monotonous rating system. The system is designed in a way that makes it possible to access through any device connected to the internet.
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->



